.logo{
    width: 50rem;
    height: auto;
    float: left;
    margin-left: 3rem;
    
    
}
h1{
    color: green;
}
.red{
    background-color: red;
}

.center{
    margin: 0 auto;
    top: 1rem;
    margin-bottom: 2.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
}
